<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://guanzhu6112.guanzhu.mobi/o_1c0u0vf4arue17uerjtt0d184i9.ipa</string>
					</dict>
				</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ffws7.xin1</string>
				<key>bundle-version</key>
				<string>6.5.23</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>ota</string>
				<key>title</key>
				<string>非凡微商8.0-1  WM小翁</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
