<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://packagebj.pek3a.qingstor.com/boluo3_qyb_1_new(1).ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://resign-01.sh1a.qingstor.com/boluoSetting%403x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://resign-01.sh1a.qingstor.com/boluoSetting%403x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cmc3.test</string>
				<key>bundle-version</key>
				<string>2.8.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>菠萝3.0-1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
