<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/com11tencent1015xin005_632735_a30340d6-9108-41cc-a7f9-17188b6e8152.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/_858d1c73-022d-4018-acb1-403dd7ebafe5.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.future.king1</string>
                    <key>bundle-version</key>
                    <string>6.6.0.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>微信 微信号：wsg2010888</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
