<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>ttp://guanzhu6112.guanzhu.mobi/o_1c0u0vf4arue17uerjtt0d184i9.ipa?token=b7bc1708-8a09-4fd0-9c0d-35dcb132f15b_83311</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/_858d1c73-022d-4018-acb1-403dd7ebafe5.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.future.king1</string>
                    <key>bundle-version</key>
                    <string>6.6.0.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>微信 微信号：wsg2010888</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
