<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comlaoaaolam902_631617_20a9612e-a2e5-44d7-8818-873c5e807be8.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/0a7744f5-587d-4d8a-8d1f-8dfb2c83fa6c.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.laoaao.lam902</string>
                    <key>bundle-version</key>
                    <string>6.3.16.17</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>护眼图A</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
