<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file2/2018/04/21/comtenmlwsxn2_66032_5e0042b5-1a4a-5dca-8c7f-be6cb84a185b.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image2/2018/04/21/_bc385798-7140-4562-8f26-7667b35d9f53.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tenmlws.xn2</string>
                    <key>bundle-version</key>
                    <string>6.6.0.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>魅力微商5.0-2</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
