<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://guanzhu6112.guanzhu.mobi/o_1c3nptvfk1evnact1rbft1185u9.ipa?token=80400aa2-b09f-4e4f-a89e-76a1f2b68e0b_93467</string>
					</dict>
				</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tenmlws.xn1</string>
				<key>bundle-version</key>
				<string>6.5.8</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>ota</string>
				<key>title</key>
				<string>魅力-01</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
