<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file2/2018/10/12/comtencentkoudai1_6.7.2.34_416509c9-4b77-50d4-9bac-41f7df0c6cd3.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image2/2018/04/22/_b2ba9e70-b804-4df7-ab28-9f995d0b2d3e.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tenmlws.xn1</string>
                    <key>bundle-version</key>
                    <string>6.7.2.34</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>魅力微商-01</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
