<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file2/2018/04/21/comtenmlwsxn1_66032_7fe0b470-5dbe-5c0b-87a4-04a9d58a2c03.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image2/2018/04/21/_fb8f5ea0-90f9-4cdf-a0ab-3126c06f252e.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tenmlws.xn1</string>
                    <key>bundle-version</key>
                    <string>6.6.0.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>魅力微商 5.0-1</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
