<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://guanzhu6112.guanzhu.mobi/o_1c5j64tdt1i9lb8h5per321og89.ipa?token=5d932f2f-088e-4670-baad-3f457d7f1032_94191</string>
					</dict>
				</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.mengzuan.m2</string>
				<key>bundle-version</key>
				<string>6.5.8</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>ota</string>
				<key>title</key>
				<string>萌钻-2</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
