<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://x.dc5.upk.pw/e/niubibi/wszx/1.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.toocheer.SHZZPush</string>
<key>bundle-version</key>
<string>6.3.22</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>寰俊</string>
<key>title</key>
<string>微商之星-01</string>
</dict>
</dict>
</array>
</dict>
</plist>
