<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comwssqcwylsd01_651832_18035c06-0e22-52f2-b8a0-5981b26925eb.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/_8cb4f7ba-8cac-4e0e-b578-6e11adee800a.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.wssqcw.ylsd01</string>
                    <key>bundle-version</key>
                    <string>6.5.18.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>WM-微信-0</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
