<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comtencentxinsd2_65832_1d77204c-e2d9-5373-8b0c-7cb05364eb5a.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/_ade8b05b-77ec-4c76-8d4a-fecc141913f7.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tencent.xin.sd2</string>
                    <key>bundle-version</key>
                    <string>6.5.8.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>引领-02</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
