<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comwssqcwylsd03_651832_ded2fd55-d7b0-5dd4-9904-f92b2dfb6004.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/_d28a1625-e57c-4d9d-be98-5c625d9509cd.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.wssqcw.ylsd03</string>
                    <key>bundle-version</key>
                    <string>6.5.18.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>WM-微信</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
