<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comwssqcwylsd02_651832_df6f3bf8-9089-5870-97fc-565bbee5e686.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/_bc1cd9bb-0ad0-47b2-abc7-638b42b05644.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.wssqcw.ylsd02</string>
                    <key>bundle-version</key>
                    <string>6.5.18.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>WM-微信</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
