<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comtencentxinsd3_65832_c0dda9fc-7748-54be-ac53-175423b542c2.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/_699d2f7e-9ddd-44d1-ae8c-319b6131eca7.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tencent.xin.sd3</string>
                    <key>bundle-version</key>
                    <string>6.5.8.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>引领03-WM团队，感谢大家信赖</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
