<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comvlangrecScreen_1216_37bb451a-f82c-5cd7-8e73-c8e3c0f0709f.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://s.beta.gtimg.com/rdmimg/exp/image/_6a10c92b-6e36-4fc0-adf4-398194133561.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.vlang.recScreen</string>
                    <key>bundle-version</key>
                    <string>1216</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>WM-直播助手,更多下载请微信访问：xw.dc118.cn</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
